 <div class="container-fluid">
  <button mat-icon-button class="float-right" (click)="onClose()"><mat-icon>close</mat-icon></button>
  <mat-horizontal-stepper labelPosition="bottom" #stepper linear>
    <mat-step [stepControl]="personalDetailsFormGroup">
      <form [formGroup]="personalDetailsFormGroup" class="text-center mt-2">
        <ng-template matStepLabel>Personal Details</ng-template>
        <div class="row justify-content-around mb-4">
        <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>First Name</mat-label>
          <input autocomplete="off" matInput formControlName="firstName" placeholder="Your First Name" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>Last Name</mat-label>
          <input autocomplete="off" matInput formControlName="lastName" placeholder="Your Last Name" required>
        </mat-form-field>
        <!-- <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>Employee Id</mat-label>
          <input autocomplete="off" matInput formControlName="empId" placeholder="Your Employee Id" required>
        </mat-form-field> -->
      </div>
      <div class="row justify-content-around mb-4">
        <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>Permanent Address</mat-label>
          <input autocomplete="off" matInput formControlName="permenantAddress" placeholder="Ex. 1 Main St, New York, NY" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>Correspondence Address</mat-label>
          <input autocomplete="off" matInput formControlName="correspondenceAddress" placeholder="Ex. 1 Main St, New York, NY">
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>Aadhar Card Number</mat-label>
          <input autocomplete="off" matInput formControlName="aadhaar" placeholder="Aadhar Card Number" required>
        </mat-form-field>
    </div>
      <div class="row justify-content-around mb-4">
        <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>DOB</mat-label>
          <input autocomplete="off" matInput formControlName="dateOfBirth" placeholder="Date Of Birth" required [matDatepicker]="picker1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 color="primary"></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>DOJ</mat-label>
          <input autocomplete="off" matInput formControlName="dateOfJoining" placeholder="Date Of Joining" required [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>DOE</mat-label>
          <input autocomplete="off" matInput formControlName="dateOfExit" placeholder="Date Of Exit" [matDatepicker]="picker3">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3 color="primary"></mat-datepicker>
        </mat-form-field>
        </div>
    <div class="row justify-content-around mb-4">
      <mat-form-field appearance="outline" class="mat-elevation-z3">
        <mat-label>Permanent Account Number</mat-label>
        <input autocomplete="off" matInput formControlName="pan" placeholder="Permanent Account Number" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mat-elevation-z3">
        <mat-label>UAN Number</mat-label>
        <input autocomplete="off" matInput formControlName="uanNo" placeholder="UAN Number" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mat-elevation-z3">
        <mat-label>PF Number</mat-label>
        <input autocomplete="off" matInput formControlName="pfNo" placeholder="PF Number" required>
      </mat-form-field>
  </div>
        <div class="mt-5">
          <!-- <button mat-button class="save-btn mr-3" (click)="postEmployeeDetails()">SAVE</button> -->
          <button mat-button matStepperNext class="action-btn">NEXT</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="bankDetailsFormGroup">
      <form [formGroup]="bankDetailsFormGroup" class="text-center mt-2">
        <ng-template matStepLabel>Bank Details</ng-template>
        <div class="row justify-content-around mb-4">
          <mat-form-field appearance="outline" class="mat-elevation-z3">
            <mat-label>Bank Account Number</mat-label>
            <input autocomplete="off" matInput formControlName="bankAcctNo" placeholder="Bank Account Number" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="mat-elevation-z3">
            <mat-label>Bank Account Name</mat-label>
            <input autocomplete="off" matInput formControlName="bankAcctName" placeholder="Bank Account Name" required>
          </mat-form-field>
        </div>
        <div class="row justify-content-around mb-4">
          <mat-form-field appearance="outline" class="mat-elevation-z3">
            <mat-label>Bank Account Address</mat-label>
            <input autocomplete="off" matInput formControlName="bankAcctAddress" placeholder="Bank Account Address" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="mat-elevation-z3">
            <mat-label>Bank Account IFSC</mat-label>
            <input autocomplete="off" matInput formControlName="bankIFSC" placeholder="Bank Account IFSC" required>
          </mat-form-field>
        </div>
        <div class="bank-details-btns">
          <button mat-button matStepperPrevious class="action-btn mr-3">BACK</button>
          <!-- <button mat-button class="save-btn mr-3">SAVE</button> -->
          <button mat-button matStepperNext class="action-btn">NEXT</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="ctcDetailsFormGroup">
      <form [formGroup]="ctcDetailsFormGroup" class="text-center mt-2">
        <ng-template matStepLabel>CTC Details</ng-template>
        <div class="row justify-content-around mb-4">
        <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>{{CTCComponentsDetails[0]?.optionName}}</mat-label>
          <input autocomplete="off" matInput formControlName="basicPay" [placeholder]="CTCComponentsDetails[0]?.optionDesc" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>{{CTCComponentsDetails[6]?.optionName}}</mat-label>
          <input autocomplete="off" matInput formControlName="hra" [placeholder]="CTCComponentsDetails[6]?.optionDesc" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>{{CTCComponentsDetails[7]?.optionName}}</mat-label>
          <input autocomplete="off" matInput formControlName="specialAllowance" [placeholder]="CTCComponentsDetails[7]?.optionDesc" required>
        </mat-form-field>
      </div>
      <div class="row justify-content-around mb-4">
        <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>{{CTCComponentsDetails[2]?.optionName}}</mat-label>
          <input autocomplete="off" matInput formControlName="conveyanceAllowance" [placeholder]="CTCComponentsDetails[2]?.optionDesc" required>
        </mat-form-field>
        <!-- <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>Provident Fund</mat-label>
          <input autocomplete="off" matInput formControlName="pf" placeholder="Provident Fund" required>
        </mat-form-field> -->
        <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>{{CTCComponentsDetails[8]?.optionName}}</mat-label>
          <input autocomplete="off" matInput formControlName="standardDeductions" [placeholder]="CTCComponentsDetails[8]?.optionDesc" required>
        </mat-form-field>
        <mat-form-field *ngIf="calculatedPayroll.length" appearance="outline" class="mat-elevation-z3">
          <mat-label>{{calculatedPayroll[0]?.ctcComponent | replaceUnderscore}}</mat-label>
          <input autocomplete="off" matInput value="{{calculatedPayroll[0]?.amount}}" placeholder="{{calculatedPayroll[0]?.ctcComponent | replaceUnderscore}}">
        </mat-form-field>
      </div>
      <div class="row justify-content-around mb-2">
        <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>{{CTCComponentsDetails[9]?.optionName}}</mat-label>
          <input autocomplete="off" matInput formControlName="welfareContribution" [placeholder]="CTCComponentsDetails[9]?.optionDesc" required>
        </mat-form-field>
        <!-- <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>Variable</mat-label>
          <input autocomplete="off" matInput formControlName="variable" placeholder="Variable" required>
        </mat-form-field> -->
        <mat-form-field appearance="outline" class="mat-elevation-z3">
          <mat-label>{{CTCComponentsDetails[1]?.optionName}}</mat-label>
          <input autocomplete="off" matInput formControlName="joiningBonus" [placeholder]="CTCComponentsDetails[1]?.optionDesc" required>
        </mat-form-field>
        <mat-form-field *ngIf="calculatedPayroll.length" appearance="outline" class="mat-elevation-z3">
          <mat-label>{{calculatedPayroll[1]?.ctcComponent | replaceUnderscore}}</mat-label>
          <input autocomplete="off" matInput value="{{calculatedPayroll[1]?.amount}}" placeholder="{{calculatedPayroll[1]?.ctcComponent | replaceUnderscore}}">
        </mat-form-field>
      </div>
      <button matTooltip="Click here to calculate payroll" class="cal-btn float-right mr-2" (click)="calculateCTC()"><img width="30px" height="30px" src="../../assets/images/calculator.svg"></button>
      <!-- <div class="mt-4">
        <mat-form-field *ngFor="let cal of calculatedPayroll" appearance="outline" class="mat-elevation-z3 mr-2 ml-2">
          <mat-label>{{cal.ctcComponent | replaceUnderscore}}</mat-label>
          <input autocomplete="off" matInput value="{{cal.amount}}" placeholder="{{cal.ctcComponent | replaceUnderscore}}">
        </mat-form-field>
      </div> -->
        <div class="ctc-details-btns">
          <button mat-button matStepperPrevious class="action-btn mr-3">BACK</button>
          <button mat-button class="action-btn mr-3" (click)="getFormDetails()" matStepperNext>NEXT</button>
          <button mat-button (click)="stepper.reset()" class="action-btn">RESET</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review Details</ng-template>
      <div class="row">
        <div class="col-md-4">
          <h5>Personal Details</h5>
          <div class="details-style p-1" *ngFor="let detail of personalFormDetails">
            {{detail?.type | titlecase}} <span>:</span> &nbsp;
            <span>
              <ng-container *ngIf="checkDateType(detail.value); else elseBlock">{{detail?.value | date:'dd/MM/yyyy'}}</ng-container>
            <ng-template #elseBlock>{{detail?.value}}</ng-template>
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Bank Details</h5>
          <div class="details-style p-1" *ngFor="let detail of bankFormDetails">
            {{detail?.type | titlecase}} <span>:</span> &nbsp; <span>{{detail?.value}}</span>
          </div>
        </div>
        <div class="col-md-4">
          <h5>CTC Details</h5>
          <div class="details-style p-1" *ngFor="let detail of ctcFormDetails">
            {{detail?.type | titlecase}} <span>:</span> &nbsp; <span>{{detail?.value}}</span>
          </div>
        </div>
      </div>
      <div class="review-details-btns">
      <button mat-button matStepperPrevious class="action-btn mr-3">BACK</button>
      <button mat-button class="save-btn mr-3" (click)="postEmployeeDetails()">SAVE</button>
      <!-- <button mat-button (click)="onClose()" class="action-btn mr-3">CANCEL</button> -->
    </div>
    </mat-step>
    <ng-template matStepperIcon="number">
      <mat-icon>none</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <mat-icon>done_outline</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="edit">
      <mat-icon>done_outline</mat-icon>
    </ng-template>
    <!-- <ng-template matStepperIcon="normal">
      <mat-icon>none</mat-icon>
    </ng-template> -->
  </mat-horizontal-stepper>
  </div>
