.container-fluid {
  padding: 0;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

input {
    border-radius: 2px;
    border: 1px solid gainsboro;
    padding: 2px 5px 2px 5px;
    font-family: Helvetica Regular;
    font-size: 14px;
}

input:focus {
    outline: none;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(17, 17, 17, 0.48);
    opacity: 1; /* Firefox */
    font-family: Helvetica Regular;
    font-size: 14px
  }

  .search-parameters {
    font-weight: bold;
    color: #373441;
    font-family: Helvetica Regular;
    font-size: 20px;
  }

  label {
    color: #373441;
    font-family: Helvetica Regular;
    font-size: 14px;
  }

  button {
      width: 100px;
      border-radius: 4px;
      border: none;
      padding: 4px 0 4px 0;
      font-family: Helvetica Regular;
      font-size: 14px;
  }

  .search-btn {
      background-color: #373441;
      color: white;
  }

  .clear-btn {
    background-color: rgb(194, 193, 193);
    color: #373441;
}

.clear-disabled {
    background-color: gainsboro;
    color: gray;
}

.rotate-icon {
  transform: rotate(180deg);
}

.search-collapse {
  background-color: #373441;
  border: none;
  padding: 0;
  width: 15px;
}

.search-tab {
  height: 25px;
  background-color: #373441;
  color: white;
  font-size: 12px;
  font-weight: bold;
  font-family: Helvetica regular;
}

.add-employee-btn {
  width: 180px;
  background-color: #5D38DB;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: Helvetica regular;
}

table {
  width: 97%;
  border: 1px solid #C1C1C1;
  box-sizing: border-box;
}

.main-table {
  margin: 10px 0 0 15px;
}

/* :host ::ng-deep .mat-header-row {
  height: 20px !important;
} */

td.mat-cell:last-of-type{
  padding-right: 0px;
}

td.mat-cell:first-of-type{
  padding-left: 0px;
}

tr.request-detail-row {
  height: 0;
}

.request-detail {
  overflow: hidden;
  /* display: flex; */
  /* justify-content: center; */
}

tr.element-row:not(.expanded-row):hover {
  background: #777;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.request_table {
  /* border-collapse: separate; */
  border-spacing: 0 4px;
  background-color: inherit;
}

.request_table td:first-of-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.request_table td:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 0;
}

/* .request_table tr {
  font-size: 15px;
} */

tr.mat-header-row {
  height: 44px;
  background: #FAFAFA;
  border-bottom: 1px solid #D5D5D5;
}

.request_table td {
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 10px;
  /* background-color: #f3f3f3; */
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
}

td.mat-cell {
  border-bottom: 1px solid #F6F6F6;
}

td.mat-footer-cell {
  border-bottom-width: 0;
}

th.mat-header-cell {
  border-bottom-width: 0;
}

.request_table th {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  border: 0;
  color: #6A6A6A;
}

.request_table tr .expand_row {
  background-color: white;
}

.emp-detail {
  padding-top: 10px;
  margin-left: 10px !important;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.emp{
  padding:0;
  font-size:small;
}

.data-hd{
  color:#767777;
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}

.data{
  height: 20px;
  color: #4E4E4E;
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.background_color{
  background-color: #f4e6fb;
  padding-top: 5px;
  padding: 5px;
}

.text_style{
  padding-top: 17px;
  padding-bottom: 10px;
}

.add-employee-btn {
  width: 100px;
  height: 40px;
  background-color: #5D38DB;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica regular;
  box-shadow: 5px 5px 8px hsl(254, 46%, 73%);
}

/* -------------------- */

.dropzone {
  min-height: 250px;
  min-width: 250px;
  display: table;
  width: 100%;
  background-color: #eee;
  border: 2px dashed #6A6A6A;
  border-radius: 20px;
  text-align: center;
  margin-top: 10%;
  padding-top: 20%;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  text-align:center;
}

.files-list {
  margin-top: 1.5rem;
  display: block;
    flex-grow: 1;
}

  .single-file {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border: dashed 1px #979797;
    margin-bottom: 1rem;
  }

    .delete {
      display: flex;
      margin-left: 0.5rem;
      cursor: pointer;
      align-self: flex-end;
    }


    

    .name {
      font-size: 14px;
      font-weight: 500;
      color: #353f4a;
      margin: 0;
    }

    .size {
      font-size: 12px;
      font-weight: 500;
      color: #a4a4a4;
      margin: 0;
      margin-bottom: 0.25rem;
    }

    .info {
      width: 100%
    }
  
