<div class="container-fluid">
    <!-- <div class="login_container">
      <div class="form_data d-inline-block align-items-center">
        <img class="logo-img" src="/assets/images/logo.png" alt="">
        <button class="btn btn_login" (click)="signInWithGoogle()">Continue with Gemini Mail</button>
      </div>
    </div> -->
    <div class="gem-logo">
    <img width="200px" height="50px" src="../../assets/images/gemlogo.jpeg">
  </div>
      <div class="login-page">
        <div class="circle"></div>
        <div class="payroll">PAYROLL</div>
        <div class="text-center" style="position: absolute; margin-top: 70px;">
        <input class="mb-3" type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <div class="or">OR</div>
        <button class="login-btn" (click)="signInWithGoogle()">Continue with Gemini Mail</button>
      </div>
      <div class="d-flex justify-content-center">
      <div class="forgot-password">Forgot your password?</div>
    </div>
      </div>
  </div>
