.container-fluid {
  padding: 0;
  height: 100%;
  width: 100%;
}

.mat-sidenav-container {
  height: 100%;
}

  .sidenav {
    background: #373441;
    width: 230px;
    height: 100%;
    text-align: center;
  }

  a {
    text-decoration-line: none;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
  }

  .horizontal-divider {
    margin-left: 5px;
    width: 1px;
    background-color: #dfe0e3;
  }

  .search-icon {
    color: #C5C7CD;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(17, 17, 17, 0.48);
    opacity: 1; /* Firefox */
    font-family: Helvetica Regular;
  }

  .search-box {
    border: 1px solid #cecfd3;
    height: 30px;
    font-family: Helvetica Regular;
    font-size: 14px;
    padding: 5px;
  }

  input:focus {
    outline: none;
  }

  .mat-divider {
    margin-top: 10px;
    background-color: #4d4a55;
  }

  .mat-list-item {
    margin-top: 10px;
    padding: 20px;
    color: #8f8c9b;
  }

  :host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    padding: 0px 40px;
}

.mat-tab-label {
    width: 50% !important;
}

.sidenav-icon {
  color: #8f8c9b;
}

.dashboard :host ::ng-deep.mat-tab-label, :host ::ng-deep.mat-tab-label-active{
    width: 50%;
  }

.menu-btn {
  color: #C5C7CD;
  background-color: white;
  border: none;
}

.header{
  height: 70px;
  border-bottom: 1px solid #dfe0e3;
}

.user {
  color: #6E41E2;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.user-icon {
  color: #6E41E2;
}

.mat-badge-content {
  background-color: #5D38DB;
  color: white;
}


span {
  width: 10px;
}

.notf-icon {
  color: #C5C7CD;
  cursor: pointer;
}

.notifications {
  background-color: white;
  right: 8px;
  width: 300px;
  position: absolute;
  height: 400px;
  z-index: 99;
  top: 40px;
  border: 1px solid rgb(180, 177, 177);
}

.notf-header {
  background-color: #ebebeb;
  font-family: Helvetica regular;
  text-align: center;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid lightgray;
}

.notf-item {
  font-family: Helvetica regular;
  font-size: 14px;
  width: 305px;
  padding: 5px 0 5px 5px;
  border-bottom: 1px solid #ebebeb;
}

.notf-content {
  height: 333px;
  overflow-y: scroll;
}

.active-notf-content {
  font-family: Helvetica regular;
  font-size: 14px;
  padding: 5px 0 5px 5px;
  border-bottom: 1px solid white;
  background-color: rgb(215, 232, 238);
}

.notf-footer {
  background-color: #ebebeb;
  height: 20px;
  border-top: 1px solid lightgray;
}

.notf-time {
  float: right;
    color: gray;
    font-size: 10px;
}

.no-notf {
  display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 14px;
}



