/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:focus {
  outline: none;
}

.mat-stepper-horizontal-header:focus {
  outline: none;
  }

  /* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color:inherit
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color:inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#5D38DB;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(93,56,200);
}
