.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  width: 300px;
}

.save-btn {
  background-color: #00d147;
  color: white;
  font-family: Helvetica Regular;
  font-weight: bold;
  width: 100px;
}

.action-btn {
  background-color: #7d00e0;
  color: white;
  font-family: Helvetica Regular;
  font-weight: bold;
  width: 100px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #babbbe;
  opacity: 1; /* Firefox */
  font-size: 14px;
  font-family: Helvetica Regular;
}

:host ::ng-deep .mat-form-field-label {
  font-size: 16px;
  font-family: Helvetica Regular;
}

:host ::ng-deep .mat-step-label {
  font-size: 14px;
  font-family: Helvetica Regular;
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
  width: 400px;
  margin: auto;
}

:host ::ng-deep .mat-stepper-horizontal-line {
  height: 5px;
  border: none;
  background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #e6e6e6, #e6e6e6, #e6e6e6);
  /* background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #84f44c, #e6e6e6, #e6e6e6); */
  background-size: 18px 3px, 100% 3px;
}

:host ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after {
  height: 5px;
  border: none;
  background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #e6e6e6, #e6e6e6, #e6e6e6);
  /* background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #84f44c, #84f44c, #84f44c); */
  background-size: 18px 3px, 100% 3px;
  margin-right: 5px;
}

:host ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before {
  height: 5px;
  border: none;
  background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #e6e6e6, #e6e6e6, #e6e6e6);
  background-size: 18px 3px, 100% 3px;
  margin-left: 5px;
}

:host ::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #00d147;
    color: #fff;
}

:host ::ng-deep .mat-step-header .mat-step-icon-state-done {
  background-color: #00d147;
  color: #fff;
}

/* :host ::ng-deep .mat-step-header .mat-step-icon-state-normal {
  background-color: #7d00e0;
  color: #fff;
} */

:host ::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #00d147;
  color: #fff;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
  padding-bottom: 0;
}

.bank-details-btns {
    display: flex;
    justify-content: center;
    margin-top: 220px;
}

.bank-details-height {
  height: 65vh;
}
